*.zip
/answers/实验环境图
/raw data/0cm
/raw data/5cm
/raw data/10cm
/raw data/apple_pear
/raw data/box_comparison
/raw data/different_apple
/raw data/different_time
/raw data/different_time_extra
/raw data/foambox
/raw data/food
/raw data/gala_apple
/raw data/orange
/raw data/paperbox_thick
/raw data/paperbox_thin
/raw data/pear
/raw data/plasticbox
/raw data/shape
/raw data/vertical_0cm
/raw data/vertical_5cm
/raw data/vertical_10cm
